<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Categoría
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
    <!-- <li><a [ngClass]="categoriaTodas" (click)="filtrarCategoria('todas')">Todas</a></li> -->
    <!-- <li><a [ngClass]="categoriaRopa" (click)="filtrarCategoria('ropa')">Ropa</a></li> -->
    <!-- <li><a [ngClass]="categoriaOtros" (click)="filtrarCategoria('otros')">Otros</a></li> -->
        <li><a class="dropdown-item">Todas</a></li>
        <li><a class="dropdown-item">Vapers</a></li>
        <li><a class="dropdown-item">Líquidos</a></li>
        <li><a class="dropdown-item">Otros</a></li>
    </ul>
</div>