<div class="card text-bg-dark h-100">
    <!-- <div class="row g-0"> -->
      <!-- <div class="col-sm-4"> -->
        
        <img src="{{ product.photoUrl }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text brand"><small class="text-body-secondary">Marca: {{ product.brand }}</small></p>
        </div>
        <div class="card-footer">
          <h1 class="card-text" id="precio">$ {{ product.price }}</h1>
          <!-- <div  *ngIf="product.stock>0">
            <p>Cantidad:</p>
            <input type="number">
          </div> -->
          <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
          <label *ngIf="product.stock>0" for="cant">Cantidad:</label>
          <!-- <input type="number" value="1" min="1" *ngIf="product.stock>0" id="cant" [(ngModel)]="product.quantity"> -->
          <input type="number" value="1" min="1" *ngIf="product.stock>0" id="cant">
          <button *ngIf="product.stock>0" [ngClass]="botonActivo" (click)="agregarAlCarrito(product)">Agregar al carrito</button>
          <small *ngIf="product.stock==0" class="text-muted">No hay stock disponible</small>
        </div>
  
      <!-- </div> -->
    <!-- </div> -->
  </div>